@use "../../../../styles/variables.scss" as vars;

.create-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: vars.$color-white;

  &__icon {
    margin-left: 770px;
    margin-top: -170px;
  }

  &__title {
    margin-top: 48px;
    width: 606.55px;
  }

  h1 {
    margin: 0 0 10px;
    font-size: 36px;
  }

  &__title-point {
    display: inline-block;
    margin-left: 5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: vars.$color-red;
  }

  &__title-text {
    font-size: 15px;
    color: vars.$links-color;
  }

  &__title-link {
    color: vars.$color-red;
  }

  &__group {
    display: flex;
    flex-direction: column;
  }

  &__input--lock-icon {
    background: url("/images/lock.png") no-repeat right 40px center;
  }

  &__input--email-icon {
    background: url("/images/mail-icon.png") no-repeat right 40px center;
  }

  &__input--userid-icon {
    background: url("/images/user-icon.png") no-repeat right 40px center;
  }

  &__input--user-icon {
    background: url("/images/user-solid.png") no-repeat right 40px center;
  }

  &__input {
    padding: 0;
    width: 606.55px;
    height: 46px;
    line-height: 46px;
    background-color: vars.$color-bg-dark;
    border-style: none;
  }

  &__input-info {
    margin-top: 9px;
    font-size: 13px;
    color: vars.$input-info-color;

    &::before {
      content: ". ";
      position: relative;
      top: -5px;
      margin-left: 5px;
    }
  }

  &__label {
    position: relative;
    top: 13px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 22px;
    height: 19px;
    max-width: fit-content;
    color: vars.$links-color;
    background-color: vars.$color-bg-darker;
    font-size: 12px;
    line-height: 15px;
  }

  &__check {
    display: flex;
    flex-direction: column;
    margin-left: -283px;
  }

  &__check-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__check-label {
    margin-left: 10px;
    font-size: 16px;
    color: vars.$check-label-color;
  }

  &__check-link {
    font-size: 15px;
    line-height: 23px;
    color: vars.$links-check-color;
  }

  &__check-input {
    width: 15px;
    height: 15px;
    border-radius: 1px;
    cursor: pointer;
    accent-color: vars.$links-color;
  }

  &__submit-btn {
    padding: 0.75rem;
    margin-top: 1rem;
    height: 48px;
    width: 616px;
    border: none;
    cursor: pointer;
    font-size: 19px;
    border-radius: 1px;
    color: vars.$color-white;
    background-color: vars.$color-red;

    &:hover {
      background-color: vars.$color-hover-red;
    }
  }
}
