@use "./variables.scss" as vars;
@use "./breakpoints.scss" as bp;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: vars.$background-body-color;
  font-family: "Lota", sans-serif;

  @include bp.windows-pc-2k-desktop {
    width: 100vw;
    height: 100vh;
  }

  @include bp.windows-pc-4k-desktop {
    width: 100vw;
    height: 100vh;
  }
}
