$color-white: #fff;
$color-red: #e80004;
$color-hover-red: #cc0000;
$color-bg-dark: #2f2424;
$color-bg-darker: #1f1818;
$background-body-color: #201818;
$links-color: #7e6969;
$links-check-color: #c9b1b1;
$placeholder-color: #988080;
$placeholder-background-color: #453535;
$input-info-color: #5d4d4d;
$check-label-color: #504242;
