.layout-container {
	display: flex;
	width: 1723.58px;
	height: 1080px;
	padding: 29.13px;
}

.layout-image-column {
	flex: 1;
	width: 796.64px;
	height: 1021.11px;
	background: url("../../assets/images/dragon.jpg") center center;
	background-size: cover;
	position: relative;
}

.layout-image-overlay {
	position: absolute;
	top: 20px;
	left: 20px;
	color: #fff;
}

/* Right column for form/content */
.layout-form-column {
	width: 868.28px;
	height: 1021.11px;

	background-color: #1a1a1a;

	display: flex;
	flex-direction: column;
	justify-content: center;
}
