.form-group__input-userid-icon {
	background: url(../../assets/icons/user-icon.png) no-repeat right 40px center;
}

.form-group__input-lock-icon {
	background: url(../../assets/icons/lock.png) no-repeat right 40px center;
}

.form-group__input-user-icon {
	background: url(../../assets/icons/user-solid.png) no-repeat right 40px center;
}

.form-group__input-email-icon {
	background: url(../../assets/icons/mail-icon.png) no-repeat right 40px center;
}

.create-account-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	color: #fff;
}

.create-account-form h1 {
	margin: 0 0 10px;
	font-size: 36px;
}

.form-title__text {
	font-size: 15px;
	color: #7e6969;
}

.form-group {
	display: flex;
	flex-direction: column;
}

.form-group__input {
	padding: 0;
	width: 606.55px;
	height: 46px;
	line-height: 46px;
	background-color: #2f2424;
	border-style: none;
}

.form-group__input::placeholder {
	display: block;
	position: relative;
	left: 425px;
	bottom: 5px;
	width: 107px;
	height: 26px;

	line-height: 25px;
	border-radius: 1px;
	text-align: center;
	font-size: 13px;
	font-weight: 400;
	color: #988080;
	background-color: #453535;
}

.form-group__input-info {
	margin-top: 9px;
	font-size: 13px;
	color: #5d4d4d;
}

.form-group__input-info::before {
	content: ". ";
	position: relative;
	top: -5px;
	margin-left: 5px;
}

.form-group__input-label {
	position: relative;
	top: 13px;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: 22px;
	height: 19px;
	max-width: fit-content;
	color: #7e6969;
	background-color: #1f1818;

	font-size: 12px;
}

.form-group label {
	margin-bottom: 0.25rem;
}

.form-check {
	display: flex;
	flex-direction: column;
	margin-left: -283px;
}

.form-check_item {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.form-check__input {
	width: 15px;
	height: 15px;
	border-radius: 1px;
	cursor: pointer;
	accent-color: #7e6969;
}

.form-check__item-label {
	margin-left: 10px;
	font-size: 16px;
	color: #504242;
}

.form-check__item-link {
	font-size: 15px;
	line-height: 23px;
	color: #c9b1b1;
}

.submit-btn {
	padding: 0.75rem;
	margin-top: 1rem;
	height: 48px;
	width: 616px;
	border: none;
	cursor: pointer;
	font-size: 19px;
	border-radius: 1px;
	color: #ffffff;
	background-color: #e80004;
}

.submit-btn:hover {
	background-color: #cc0000;
}

.point {
	color: red;
}
